*{
  margin:0;
}

body {
  font: 14px "Courier New";
  margin: 20px;
  background-color:aqua;
  margin-left: 550px;

}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(6, 184, 6);
  border: 5px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 44px;
  height: 74px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square.highlight {
  background: #ddd
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: rgb(221, 221, 221);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.move-list-item-selected{
  float: left;
  font-weight: bold;
}